<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>다이빙 로그</title>
</head>

<body>
<div style="margin-bottom:20px;">
<a href="/"><button>홈</button></a>
<a href="/map"><button>지도</button></a>
<a href="/logs"><button>로그</button></a>
<a href="/log/add"><button>로그 추가</button></a>
</div>

<h1>다이빙 로그</h1>

<h3>메뉴</h3>

<ul>

<li>
<a href="/map">지도 보기</a>
</li>

<li>
<a href="/logs">전체 로그 보기</a>
</li>

<li>
<a href="/log/add">로그 추가</a>
</li>

<li>
<a href="/stats">다이빙 통계</a>
</li>

</ul>

</body>
</html>
