<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Diving Log</title>
</head>

<body>
<div style="margin-bottom:20px;">
<a href="/"><button>Home</button></a>
<a href="/map"><button>Map</button></a>
<a href="/logs"><button>Logs</button></a>
<a href="/log/add"><button>Add Log</button></a>
</div>

<h1>Diving Log</h1>

<h3>메뉴</h3>

<ul>

<li>
<a href="/map">지도 보기</a>
</li>

<li>
<a href="/logs">전체 로그 보기</a>
</li>

<li>
<a href="/log/add">로그 추가</a>
</li>

<li>
<a href="/stats">다이빙 통계</a>
</li>

</ul>

</body>
</html>